/*Se da estilo a la etiqueta body*/
body {
	margin: 0px;
	margin-top: -30px;
	color: #444;
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*Se da estilo a la etiqueta con identificador de id: #container*/
/*#container {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 800px;
	border: 5px solid #ccc;_
	margin-left: auto;
	margin-right: auto;
	padding-top: 3px;
	padding-bottom: 2px;
}*/


/*Se da estilo a las etiquetas h1...h6*/
/*h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #21759b;
}*/
/*Se añade un largo de fondo a cada etiqueta h1...h4*/
h1 {
	font-size: 20px;
}

h2 {
	font-size: 17px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}


/*Se da estilo a la etiqueta a*/
a {
	font-weight: bold;
	text-decoration: none;
	color: #21759b;
}
/*Se aplica el efecto hover a la etiqueta a*/
a:hover {
	color: #191970;
	padding-left: 20px;
}


/*Se da estilo a la etiqueta con identificador de id: #header*/
#header {
	height: 120px;
	padding-top: 1px;
	padding-bottom: 1px;
	background: #00923F;
	padding-left: 10px;
	padding-right: 10px;	

}
/*Se añade estilo a la etiqueta h1 que esta dentro de la etiqueta con identificador de id: #header*/
#header h1 {
	font-size: 55px;
	font-family: "Times New Roman", Times, serif;
	color: #FFF;
	text-shadow: 10px 10px 12px #444;
	text-align: center; 
}
/*Se añade estilo a la etiqueta img que esta dentro de la etiqueta con identificador id: #header. Esta contiene el logo uniquindio*/
#header img {
	width: 120px;
	height: 120px;
	text-align: left; 
	border-radius: 20px;
	text-align: left;
}

/****************************************Menu*********************************************/
/*Se da estilo a la etiqueta con identificador de id: #menu*/
#navegadorMenu li {
	list-style:none;
    height:39px;
    padding:2px;
    /*width:20px;*/
}

#navegadorMenu span {
/*Propiedades del contenedor*/
    /*width:0;
    left:38px;*/
    padding:0;
    position:absolute;
    overflow:hidden;
    margin-left: 25px;

 /*Propiedades del texto*/
    /*font-family:'Myriad Pro',Arial, Helvetica, sans-serif;*/
    font-size:12px;
    font-weight:bold;
    letter-spacing:0.6px;
    white-space:nowrap;
    line-height:39px;

 /* Transiciones CSS3 */
    -webkit-transition: 0.25s;

 /* Future proofing (these do not work yet): */
    -moz-transition: 0.25s;
    transition: 0.25s;
}

#navegadorMenu a {
    background:#90EE90;
    height:39px;
    width:240px;
    display:block;
    position:relative;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    border-color: white;
}

/*Estilos hovers generales*/
#navegadorMenu a:hover span{
	width:auto; 
	padding:0 20px;
	overflow:visible;
}

#navegadorMenu a:hover {
	text-decoration:none;

 /*Propiedades box-shadow para lso diferentes navegadores */
    -moz-box-shadow:0 0 5px #9ddff5;
    -webkit-box-shadow:0 0 5px #9ddff5;
    box-shadow:0 0 5px #9ddff5;
}

/***********Boton Registrar Proyecto****************/
#navegadorMenu .formularioProyecto {
	background-position:0 0;
}

#navegadorMenu .formularioProyecto:hover {
	background-position:0 -39px;
}

#navegadorMenu .formularioProyecto span {
    text-shadow:2px 2px 2px #FFF;
}

/***********Boton Registrar Investigador****************/
#navegadorMenu .formularioInvestigador {
	background-position:-38px 0;
}

#navegadorMenu .formularioInvestigador:hover {
	background-position:-38px -39px;
}

#navegadorMenu .formularioInvestigador span {
	 text-shadow:2px 2px 2px #FFF;
}

/***********Boton Listar****************/
#navegadorMenu .formularioListar {
	background-position:-76px 0;
}

#navegadorMenu .formularioListar:hover {
	background-position:-76px -39px;
}

#navegadorMenu .formularioListar span {
	text-shadow:2px 2px 2px #FFF;
}

/***********Boton Descargar Convocatoria****************/
#navegadorMenu .formularioDConvocatoria {
	background-position:-114px 0;
}

#navegadorMenu .formularioDConvocatoria:hover {
	background-position:-114px -39px;
}

#navegadorMenu .formularioDConvocatoria span {
	text-shadow:2px 2px 2px #FFF;
}

/***********Boton Descargar Formato****************/
#navegadorMenu .formularioDFormato {
	background-position:-152px 0;
}

#navegadorMenu .formularioDFormato:hover {
	background-position:-152px -39px;
}

#navegadorMenu .formularioDFormato span {
	text-shadow:2px 2px 2px #FFF;
}

/***********Boton Descargar Cuadro Presupuesto****************/
#navegadorMenu .formularioDCPresupuesto {
	background-position:-190px 0;
}

#navegadorMenu .formularioDCPresupuesto:hover {
	background-position:-190px -39px;
}

#navegadorMenu .formularioDCPresupuesto span {
	text-shadow:2px 2px 2px #FFF;
}

/*************************************Contenido******************************************/

/*Se da estilo a la etiqueta div con idntificador de id: #contenedor*/
/*#contenedor {
	/*Se estilo a los bordes, tamaño, estilo, color y forma*/
	/*border-style: solid;
	border-color: #90EE90;
	border-top-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 5px;
	border-radius: 10px;
	/*Se dimensiona el contenedor*/
	/*margin-right: auto;
	margin-left: auto;
	padding-top: 3px;
	padding-bottom: 2px;
	width: 1000px;*/

	/*Se estilo a los bordes, tamaño, estilo, color y forma*/
	/*border-radius: 20px 20px 20px 20px;
	/*Para navegadores firefox*/
	/*-moz-border-radius: 20px 20px 20px 20px;
	/*Para navegadores safari y chrome*/
	/*-webkit-border-radius: 20px 20px 20px 20px;
	border: 8px solid #90EE90;
	/*Se dimensiona el contenedor*/
	/*margin-right: auto;
	margin-left: auto;
	padding-top: 3px;
	padding-bottom: 2px;
	width: 1000px;
}*/

/*#contenedor label {
	font-family: verdana,sans-serif;
	color: #008080;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	line-height: 2;
	vertical-align: middle;
	display: table-cell;
}*/
#contenedor{
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
	/*Se estilo a los bordes, tamaño, estilo, color y forma*/
	border-radius: 20px 20px 20px 20px;
	/*Para navegadores firefox*/
	-moz-border-radius: 20px 20px 20px 20px;
	/*Para navegadores safari y chrome*/
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 8px solid #90EE90;
	/*Se dimensiona el contenedor*/
	margin-right: auto;
	margin-left: auto;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 50px;
	padding-right: 50px;
	width: 1000px;
}

#contenedor h2 {
	padding: 5px 0px 5px 0px;
	color: #008080;
	text-align: center;
}

#contenedor  label input  {
	 display: block;	
     width: 150px;
     float: right;
}

#contenedor label {
    text-align: right;
    width: 75px;
    padding-left: 300px;
    font-family: verdana,sans-serif;
	color: #008080;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

#contenedor input {
	border-right-width: 2px;
	margin-right: 300px;
	border-style: solid;
	border-color: #90EE90;
	border-radius: 20px 20px 20px 20px;
	text-align: center;
}

#contenedor br {
	clear: right;
}

#contenedor #guardar {
	margin-left: 440px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-color: #90EE90;
	border-radius: 20px 20px 20px 20px;
	width: 120px;
	}

#contenedor table {
	border-spacing: 0;
	border-style: solid;
	border-radius: 5px 5px 5px 5px;
	border-color: #008080;
	width: 90%;
	text-align: center;
	margin: 20px;
	margin-right: 0px;	
	margin-left: 0px;
}

#contenedor table th {
	border-spacing: 0;
	background-color: #90EE90;
	border: 1px solid #008080;
	border-radius: 1px 1px 1px 1px;
	width: 100px;
	text-align: center;
	padding: 0.2em;
}

#contenedor table td {
	border-spacing: 0;
	border: 1px solid #008080;
	border-radius: 1px 1px 1px 1px;
	width: 100px;
	text-align: center;
	padding: 0.2em;
}

/**************************************Formularios***********************************/
/*Se da estilo a la etiqueta form con identificador de clase y id: #formulario, .formulario*/
#formulario {
	margin-bottom: 40px;
}

#formulario #boton {
	font-size: 10px;
	font-family: Verdana,Helvetica;
    font-weight: bold;
    color:white;
	background: #6495ED;
	border-style:  solid;
	border-color: #90EE90;
	width:100px;
	height:25px;
	text-align: center;
	margin-right: 450px;
	margin-left: 450px;
	margin-top: 30px;
}

#formulario select {
	font-size: 10px;
	font-family: Verdana,Helvetica;
    font-weight: bold;
    color:#008080;
	background: #ebf4fb;
	border-style: solid;
	border-color: #90EE90;
	border-radius: 2px 2px 2px 2px;
	width:150px;
	height:25px;
	text-align: center;
}

#formulario #formatos {
	width: 200px;
	height: 20px;
	border-radius: 0px 0px 0px 0px;
	border-style: none;
}

/*#contenedor h2 {
	padding: 5px 0px 5px 0px;
	color: #008080;
	text-align: center;
}

#contenedor label{
	display:block;
	font-weight:bold;
	text-align:center;
	width:100px;
	float:none;
}

#contenedor input{
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:100px;
	margin:2px 0 20px 10px;
}*/


/****************Footer************************/
/*Se da estilo a la etiqueta con identificador de id: #footer*/
#footer {
	clear: both;
	width: 800px;
	padding: 5px 5px 5px 5px;
	/*background: #ddd;*/
	font-size: 10px;
	text-align: center;
	color: #444;
	margin-left: 300px;
	margin-top: 20px;
}